wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backups/
db_local.sql
*.log
.env.dokploy

# Exclude backups & wpress
wp-content/ai1wm-backups/
*.wpress

# Exclude plugins
wp-content/plugins/

# Exclude DS_Store
.DS_Store
**/.DS_Store
